@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@*<h3>@ViewBag.Message</h3>*@

<h3>Aman Mehara</h3>
<address>
    4<sup>th</sup> Year, Computer Science & Engineering<br />
    National Institute of Technology, Silchar<br />
    <abbr title="Phone">P:</abbr>
    848.656.2235<br />
    <strong>E-mail:</strong>    <a href="mailto:amanmehara@hotmail.com">amanmehara@hotmail.com</a>
    <strong>Twitter:</strong>   <a href="http://www.twitter.com/amanmehara">@("@amanmehara")</a>
</address>